

<div class=" wrapper">
  <div class="">
    <form  #loginForm="ngForm">
      <h1><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Vak%C4%B1fbank-logo.svg" alt="Vakifbank"></a></h1>
      <div class="input-box">
        <input type="text" placeholder="E-posta" name="UserEmail" required [(ngModel)]="loginData.UserEmail" />
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Şifre" name="UserPassword" required [(ngModel)]="loginData.UserPassword" />
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="remember-forgot">
        <u-checkbox label="Remember me" >Remember me</u-checkbox>

        <a style="padding-left: 15px" href="#">Şifremi unuttum!</a>
      </div>
      <button  type="submit" [disabled]="!isFormValid()" class="btn-register"  (click)="login()">Giriş Yap</button>

      <div class="register-link">
        <p>Hesabınız yok mu? <a routerLink="/register" routerLinkActive="active-link">Kayıt ol!</a> </p>
      </div>
    </form>
  </div>


  
  






