
<!-- <ucolumn width="100">
  <h1>Dashboard</h1></ucolumn> -->

  

  <!-- <u-row>
    <div class="f-width-30"> 
      <u-input label="Adı"></u-input>
    </div>
    <div class="f-width-70">
      <u-input label="Soyadı"></u-input>
    </div>
    <div class="f-width-30">
      <u-button label="Kaydet"></u-button>
    </div>
  </u-row> -->

  <u-row class="flex-end">
    <u-column [width]="20">
      <u-input caption="Adı"></u-input>
    </u-column>
    <u-column [width]="40">
      <u-input caption="Soyadı"></u-input>
    </u-column>
    <u-column [width]="10">
      <u-button label="Kaydet"></u-button>
    </u-column>
  </u-row>




<!-- <u-row [gap]="'30px'">
  <div class="f-width-60" style="background: lightblue;">Box 1</div>
</u-row> -->








  
