.dark-theme {
  background-color: black !important;
  color: white !important;
  transition: 0.3s ease;

  &:hover {
    background-color: #FFD700 !important;
    color: black !important;
  }
}

.dark-disabled {
  background-color: #999 !important;
  color: #eee !important;
  cursor: not-allowed;
  box-shadow: none !important;
  pointer-events: none;
}




